@model AllCountriesViewModel
@{
    ViewData["Title"] = "All countries";
}
@{
    int counter = 0;
}
@{
    if (this.TempData.ContainsKey("Success"))
    {
        <div class="alert alert-success" role="alert">
            @TempData["Success"]
        </div>
    }
    else if (this.TempData.ContainsKey("NotSuccess"))
    {
        <div class="alert alert-danger" role="alert">
            @TempData["NotSuccess"]
        </div>
    }
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Country</th>
            <th scope="col">Brands</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var country in Model.Countries)
        {
            <tr>
                <th scope="row">@(counter+1)</th>
                <td>@(country.Key)</td>
                <td>@(country.Value)</td>
                @{
                    counter++;
                }
            </tr>
        }
    </tbody>
</table>
