@model List<VehicleServiceModel>
<div class="row">
    @foreach (var vehicle in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3" style="width: 18rem;">
                <img class="card-img-top" src="@vehicle.ImageUrl" alt=">@vehicle.BrandName @vehicle.Model (@vehicle.FuelName) @vehicle.Price">
                <div class="card-body">
                    <h5 class="card-title">@vehicle.BrandName @vehicle.Model</h5>
                    <p class="card-text">
                        <div>@vehicle.Year Year</div>
                        <div>@vehicle.Price $</div>
                        <div>@vehicle.HorsePower horsepower</div>
                        <div>@vehicle.FuelName</div>
                    </p>
                    <a asp-controller="Vehicle" asp-action="Details" asp-route-id="@vehicle.Id" asp-route-information="@(vehicle.BrandName+"-"+vehicle.Model)" class="btn btn-primary">Full information</a>
                    @if (ViewBag.AllowEditing == true||User.IsInRole("Administrator"))
                    {
                        <a asp-controller="Vehicle" asp-action="Edit" asp-route-id="@vehicle.Id" class="btn btn-info">Edit</a>
                        <a asp-controller="Vehicle" asp-action="Delete" asp-route-id="@vehicle.Id" class="btn btn-danger">Delete</a>
                    }
                </div>
            </div>
        </div>
    }
</div>
