@model AllVehiclesViewModel


<form method="get">
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class=" form-control" placeholder="What are you looking for?" />

        </div>

        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="Brand"></label>
                <select asp-for="Brand" class="form-control">
                    <option value="">All</option>
                    @foreach (var brand in Model.Brands)
                    {
                        <option value="@brand">@brand</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0" selected>Latest</option>

                </select>
            </div>
        </div>

        <div class="form-group col-md-4">
            <input type="submit" class="btn btn-primary" value="Search" />

        </div>
    </div>
</form>
<div class="row">
    @foreach (var vehicle in Model.Vehicles)
    {
    <div class="col-md-4">
        <div class="card mb-3" style="width: 18rem;">
            <img class="card-img-top" src="@vehicle.ImageUrl" alt=">@vehicle.Brand @vehicle.Model (@vehicle.Fuel) @vehicle.Price">
            <div class="card-body">
                <h5 class="card-title">@vehicle.Brand @vehicle.Model</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a asp-controller="Vehicles" asp-action="Details" asp-route-id="@vehicle.Id" class="btn btn-primary">Full information</a>
            </div>
        </div>
    </div>
    }
</div>
